### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#This is to display the total number of players
total_players = len(purchase_data['SN'].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#This is to find the Number of Unique Items
unique_items = len(purchase_data['Item Name'].unique())

#This is to find the average price 
average_price = round(purchase_data['Price'].mean(),2)

#This is the find the number of purchases 
number_purchases = len(purchase_data['Purchase ID'])

#This to find the total revenue
total_revenue = round(purchase_data['Price'].sum(),2)

In [4]:
#Create a new summary dataframe
pur_sum = pd.DataFrame({'Unique Item Count':[unique_items], 
                        'Average Price':[average_price],
                        'Total Number of Purchases':[number_purchases],
                        'Total Revenue':[total_revenue]})
pur_sum['Total Revenue'] = pur_sum['Total Revenue'].astype(float).map("${:,.2f}".format)
pur_sum['Average Price'] = pur_sum['Average Price'].astype(float).map("${:,.2f}".format)
pur_sum

   Unique Item Count Average Price  Total Number of Purchases Total Revenue
0                179         $3.05                        780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
purchase_data['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [6]:
#Find total gender counts based on sex
male = purchase_data.loc[purchase_data['Gender'] == 'Male',:]
female = purchase_data.loc[purchase_data['Gender'] == 'Female',:]
other = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]

#find unique gender counts
male_uni = len(male['SN'].unique())
female_uni = len(female['SN'].unique())
other_uni = len(other['SN'].unique())
#find pct gender
male_pct = round((male_uni/total_players)*100,2)
female_pct = round((female_uni/total_players)*100,2)
other_pct = round((other_uni/total_players)*100,2)


#find percentage of sex
#ct_gender = round((total_gender/number_purchases)*100,2)

In [7]:
total_gender = pd.DataFrame({'Total Count': {'Female':female_uni,'Male':male_uni,
                            'Other / Non-Disclosed':other_uni},'Percentage of Players':{'Male':male_pct,'Female':female_pct,'Other / Non-Disclosed':other_pct}})
total_gender['Percentage of Players'] = total_gender['Percentage of Players'].astype(float).map('{:,.2f}%'.format)
total_gender

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [8]:
#Create gender dataframe

#gender_sum = pd.DataFrame({'Total Count':total_gender,'Percentage of Players':pct_gender})
#gender_sum


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#total purchase count on gender
male_count = male['Gender'].count()
female_count = female['Gender'].count()
other_count = other['Gender'].count()

In [10]:
#total purchase value
male_total = male['Price'].sum()
female_total = female['Price'].sum()
other_total = other['Price'].sum()

In [11]:
#average purchase price
male_avg = round((male_total/male_count),2)
female_avg = round((female_total/female_count),2)
other_avg = round((other_total/other_count),2)

In [12]:
#gender per person
male_per = round((male_total/male_uni),2)
female_per = round((female_total/female_uni),2)
other_per = round((other_total/other_uni),2)

#gender per person dataframe
gender_per_person = pd.DataFrame({'Avg Total Purchase per Person':{'Male':male_per,'Female':female_per,'Other / Non-Disclosed':other_per}})

In [13]:
#Yes... I know this was very convoluted, did not know the .nunique() function at the time.... 
gender_purchase_summary = pd.DataFrame({'Purchase Count':{'Male':male_count,'Female':female_count,'Other / Non-Disclosed':other_count},
                            'Total Purchase Value':{'Male':male_total,'Female':female_total,'Other / Non-Disclosed':other_total},
                            'Average Purchase Price':{'Male':male_avg,'Female':female_avg,'Other / Non-Disclosed':other_avg},
                            'Avg Total Purchase per Person':{'Male':male_per,'Female':female_per,'Other / Non-Disclosed':other_per}})


gender_purchase_summary.index.name = 'Gender'
gender_purchase_summary

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,361.94,3.20,4.47
Male,652,1967.64,3.02,4.07
Other / Non-Disclosed,15,50.19,3.35,4.56


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#purchase_data.describe()

In [15]:
#create bin
age_bin = [0,9,14,19,24,29,34,39,50]
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [16]:
#player_uni = list(purchase_data['SN'].unique())

purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], age_bin, labels=age_labels)

bin_column = purchase_data.groupby('Age Bin')

#numeric version
age_df = bin_column['SN'].nunique()
age_pct = round((age_df/total_players)*100,2)
age_sum = pd.DataFrame({'Total Count':age_df,'Percentage of Players':age_pct})

#Float percent version NOTE:If you need to calculate anymore values in the future
age_format = pd.DataFrame({'Total Count':age_df,'Percentage of Players':age_pct})
age_format['Percentage of Players'] = age_format['Percentage of Players'].astype(float).map('{:,.2f}%'.format)
age_format

         Total Count Percentage of Players
Age Bin
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Calculating the purchase data based on age
age_purchase = bin_column['Age Bin'].count()

age_purchase_total = bin_column['Price'].sum()

age_avg_purch = round((age_purchase_total/age_purchase),2)

age_avg_per = round((age_purchase_total/age_df),2)

In [26]:
#Purchase Age Analysis numeric form NOTE:If you need to calculate anymore values in the future
purchase_age_sum = pd.DataFrame({'Purchase Count':age_purchase,'Average Purchase Price': age_avg_purch,'Total Purchase Value':age_purchase_total,'Average Total Purchase per Person': age_avg_per})
purchase_age_sum.index.name = "Age Ranges"

#Purchase Age Analysis Formated Chart
purchase_sum_format = pd.DataFrame({'Purchase Count':age_purchase,'Average Purchase Price': age_avg_purch,'Total Purchase Value':age_purchase_total,'Average Total Purchase per Person': age_avg_per})
purchase_sum_format.index.name = "Age Ranges"

purchase_sum_format['Average Purchase Price'] = purchase_sum_format['Average Purchase Price'].astype(float).map('${:,.2f}'.format)
purchase_sum_format['Total Purchase Value'] = purchase_sum_format['Total Purchase Value'].astype(float).map('${:,.2f}'.format)
purchase_sum_format['Average Total Purchase per Person'] = purchase_sum_format['Average Total Purchase per Person'].astype(float).map('${:,.2f}'.format)
purchase_sum_format

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
#calculations to create the top spenders table.
sn_count = purchase_data.groupby('SN')

sn_df = sn_count['SN'].count()

sn_price = sn_count['Price'].sum()

sn_avg = round((sn_price/sn_df),2)

In [76]:
#Create Top Spender dataframe
top_spend = pd.DataFrame({'Purchase Count': sn_df, 'Average Purchase Price':sn_avg, 'Total Purchase Value':sn_price})

top_spend.sort_values('Purchase Count', ascending=False)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                    3.79                 18.96
Iral74                      4                    3.40                 13.62
Idastidru52                 4                    3.86                 15.45
Asur53                      3                    2.48                  7.44
Inguron55                   3                    3.70                 11.11
Aina42                      3                    3.07                  9.22
Ilarin91                    3                    4.23                 12.70
Idai61                      3                    2.74                  8.23
Umolrian85                  3                    2.71                  8.13
Ialallo29                   3                    3.95                 11.84
Tyisur83                    3                    1.79                  5.36
Tyidaim51                   3                    3.94                 11.83
Pheodaisun84                3                    2.77                  8.31
Hiaral50                    3                    1.40                  4.19
Haillyrgue51                3                    3.17                  9.50
Zontibe81                   3                    2.68                  8.03
Iri67                       3                    3.79                 11.37
Hada39                      3                    2.86                  8.57
Raesty92                    3                    2.91                  8.73
Rarallo90                   3                    3.02                  9.05
Chadolyla44                 3                    3.82                 11.46
Saedaiphos46                3                    2.94                  8.83
Saistyphos30                3                    3.44                 10.33
Siallylis44                 3                    3.46                 10.37
Chamimla85                  3                    2.10                  6.30
Silaera56                   3                    2.83                  8.48
Chamjask73                  3                    4.61                 13.83
Chanastnya43                3                    2.94                  8.82
Strithenu87                 3                    3.39                 10.18
Sondastsda82                3                    2.63                  7.89
...                       ...                     ...                   ...
Haerith37                   1                    1.66                  1.66
Iduelis31                   1                    1.10                  1.10
Hiral75                     1                    1.98                  1.98
Idaisuir85                  1                    3.15                  3.15
Idacal95                    1                    2.07                  2.07
Iathenudil29                1                    4.60                  4.60
Iathem87                    1                    3.19                  3.19
Iasursti71                  1                    1.66                  1.66
Iasurriacal29               1                    4.07                  4.07
Iarallo65                   1                    1.75                  1.75
Iana95                      1                    3.10                  3.10
Ialidru40                   1                    3.16                  3.16
Iadueria43                  1                    1.71                  1.71
Hyaduesu61                  1                    4.23                  4.23
Hisridru55                  1                    3.08                  3.08
Hilaerin92                  1                    3.61                  3.61
Haerithp41                  1                    4.40                  4.40
Hiasurria41                 1                    1.61                  1.61
Hiarideu73                  1                    2.50                  2.50
Heunadil74                  1                    1.54                  1.54
Heudai45                    1                    3.47                  3.47
Heollyriap59                1                    3.47                  3.47
Heollyra92                  1                    3.07                  3.07
Hariphos58                  1                    2.05                  2.05
Hallysucal81                1                    1.66                  1.66
Hala31                      1                    1.02                  1.02
Haisurra41                  1                    4.40                  4.40
Hailaphos89                 1                    3.81                  3.81
Haestyphos66                1                    1.97                  1.97
Iskosian40                  1                    3.07                  3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80